!!!
%html{"ng-app" => "app"}
  %head
    %title Photo Gallery
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = filepicker_js_include_tag
    = csrf_meta_tags
  %body
    = yield
    = render "shared/nav"