<!doctype html>
%html{"xmlns:ng" => "http://angularjs.org/"}
  %head
    %meta{:charset => "utf-8"}/
    %title Photo Gallery
    = stylesheet_link_tag "application"
    = filepicker_js_include_tag
    = csrf_meta_tag
  %body{"ng:controller" => "AppCtrl"}
    %ng:view
    %script{"ng:autobind" => "", :src => "/javascripts/angular.min.js"}
    = javascript_include_tag "application"
    #wrap
      %div.container
        = yield
    = render "shared/nav"